rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Função para verificar se o usuário está autenticado
    function isAuthenticated() {
      return request.auth != null;
    }

    // Regras para relatórios
    match /reports/{userId}/{fileName} {
      allow read, write: if isAuthenticated();
    }
  }
}